/*************** 汎用部分 ***************/

/***** ノーマライズ ここから *****/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  letter-spacing: 0.05em;
  font-size: 16px;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

/***** ノーマライズ ここまで *****/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

/***** 見出しタグ ここから *****/
h1 {
  color: #fff;
  font-size: clamp(20px, 5vw, 26px);
  margin: 0;
  margin-left: 20px;
}

h2 {
  color: #4b52a7;
  margin: 80px 0 0;
  /* 下のマージンは相手側で合わせる */
}

h2 span,
h3 span {
  display: block;
}

h3 {
  color: #32839c;
}

.h3-title {
  color: #32839c;
  font-size: 16px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.h3-title-self {
  color: #fff;
  margin: 0 auto 20px;
  padding-bottom: 10px;
}

.h3-borderbottom {
  border-bottom: 1px solid #b7b7b7;
}

h4 {
  background-color: #758baf;
  color: #fff;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 6px;
  font-weight: normal;
  font-size: 14px;
}

.heading-large-main {
  font-size: clamp(20px, 5vw, 24px);
}

.heading-large-sub {
  font-size: clamp(12px, 5vw, 14px);
}

.heading-small-main {
  font-size: 16px;
}

.heading-small-sub {
  font-size: 12px;
}

/***** 見出しタグ ここまで *****/

/***** ボタン共通 ここから *****/
.form-submit {
  margin: 40px 0 80px;
}

button {
  width: 100%;
  max-width: 300px;
  height: 40px;
  padding: 12px;
  color: #fff;

  background-color: #8ab3dc;
  border: none;
  border-radius: 4px;

  box-shadow: 0 4px 0 #818694;
}

/***** ボタン共通 ここまで *****/

/*************** header ***************/
header {
  background-color: #000000cc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  display: block;
}

.heading-taro {
  color: #a6acff;
}

.float-h1-left {
  float: left;
  height: 80px;
  line-height: 80px;
}

.float-h1-right {
  float: right;
  height: 80px;
  padding: 0 20px;
}

.flex-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.li-header {
  color: #fff;
  text-align: center;
}


/*************** main ***************/
.main_img {
  height: 40vh;

  /* 背景画像を表示 */
  background-image: url("./images/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

/***** 自己紹介 ここから *****/
.self-introduction-wrapper {
  max-width: 600px;
  margin: 40px auto 40px;
}

.img-self {
  max-width: 100%;
  height: auto;
}

.self-introduction-text {
  text-align: left;
  font-size: clamp(14px, 2vw, 16px);
  margin: 0 auto 30px;
}

.flex-self-parent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
}

.flex-self-child {
  background-color: #8ab3dc;
  border-radius: 10px;
  margin: 0;
  padding: 20px 10px 20px;
  width: 48%;
  box-sizing: border-box;
}

.border-self {
  border-bottom: 1px solid #fff;
}

.ul-disc {
  list-style: disc;
  padding-left: 30px;
  text-align: left;
}

.ul-disc li {
  height: 30px;
}

.li-fav {
  color: #feffc7;
  font-size: 16px;
}

.li-web {
  color: #ffe8f6;
  font-size: 16px;
}

/***** 実装サンプル(gallery) ここから *****/
.flex-samp-parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.flex-samp-child {
  width: 25%;
  margin-bottom: 20px;
}

.li-samp-item {
  width: 90%;
  margin: 0 auto;
}

.li-samp-item img {
  max-width: 100%;
  display: block;
}

.li-samp-p {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 12px;
}

/***** 実装サンプル(gallery) ここまで *****/

/***** お問い合わせ ここから *****/
.contact-item {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 20px;
  font-size: clamp(14px, 5vw, 16px);
}

.contact-item label {
  display: block;
  text-align: left;
}

.contact-badge {
  display: inline-block;
  background-color: #32839c;
  color: #fff;
  border-radius: 4px;
  padding: 3px 8px 4px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 1;
}

input {
  width: 100%;
  height: 40px;
  margin: 8px auto 0;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  box-sizing: border-box;
}

/*************** footer ***************/
footer {
  height: 120px;
  background-color: #8ab3dc;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding-top: 20px;
}

/*************** メディアサイズ（768px以下） ***************/
@media (max-width: 768px) {

  /*************** header ***************/
  header {
    height: 48px;
    display: flex;
    align-items: center;
  }

  .float-h1-left {
    height: 48px;
    line-height: 48px;
  }
  
  .float-h1-right {
    height: 48px;
    line-height: 48px;
    display: none;
  }


  .clear {
    clear: both;
  }

  /*************** main ***************/
  .main_img {
    height: 100vh;
    background-image: url("./images/main_sp.jpg");
  }

  .flex-self-parent {
    flex-direction: column;
    gap: 10px;
  }

  .flex-self-child {
    width: 100%;
  }

  /***** 実装サンプル(gallery) ここから *****/
  .flex-samp-parent {
    width: 80%;
    flex-direction: column;
  }

  .flex-samp-child {
    width: 100%;
  }

  .li-samp-item {
    width: 100%;
  }

  /***** 実装サンプル(gallery) ここまで *****/
}