/*************** 汎用部分 ***************/

/***** ノーマライズ ここから *****/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  letter-spacing: 0.05em;
  font-size: 16px;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}
/***** ノーマライズ ここまで *****/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

/***** 見出しタグ ここから *****/
h1 {
  color: #fff;
  font-size: clamp(20px, 5vw, 26px);
}

h2 {
  color: #4b52a7;
}

h2 span,
h3 span {
  display: block;
}

h3 {
  color: #32839c;
}

.h3-title {
  color: #fff;
}

.h3-borderbottom {
  border-bottom: 1px solid #b7b7b7;
}

h4 {
  background-color: #758baf;
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}
/***** 見出しタグ ここまで *****/

/***** ボタン共通 ここから *****/
.form-submit {
  margin: 20px 0 50px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;

  background-color: #8ab3dc;
  border: none;
  border-radius: 4px;

  box-shadow: 0 4px 0 #818694;
}

/***** ボタン共通 ここまで *****/

/*************** header ***************/
header {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.heading-taro {
  color: #a6acff;
}

.float-h1-left {
  float: left;
}

header ul {
  display: none;
}

.clear {
  clear: both;
}

/*************** main ***************/
.main_img {
  height: 100vh;

  /* 背景画像を表示 */
  background-image: url("./images/main_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

/***** 自己紹介 ここから *****/
.img-self {
  max-width: 100%;
  height: auto;
}

.p-left {
  white-space: pre-line;
  text-align: left;
}

.flex-self-parent {
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.flex-self-child {
  background-color: #8ab3dc;
  border-radius: 10px;
  padding: 0 10px 20px;
  width: 100%;
  margin: 5px auto;
  box-sizing: border-box;
}

.border-self {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 8px;
}

.heading-self-main {
  font-size: 16px;
}

.heading-self-sub {
  font-size: 12px;
}

.ul-disc {
  list-style: disc;
  padding-left: 2em;
  text-align: left;
}

.li-fav {
  color: #feffc7;
}

.li-web {
  color: #ffe8f6;
}

/***** 実装サンプル(gallery) ここから *****/
.flex-samp-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.flex-samp-child {
  /* background-color: pink; */
  width: 100%;
}

.li-samp-item {
  width: 90%;
  margin: 0 auto;
}

.li-samp-item img {
  max-width: 100%;
  display: block;
}

.li-samp-p {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 12px;
}

/***** お問い合わせ ここから *****/
/* フォーム */
/* .contact-form {
  margin: 0;
} */

/* 入力ブロック */
.contact-item {
  margin-bottom: 20px;
}

/* ラベル */
.contact-item label {
  display: block;
  text-align: left;
}

/* 必須バッジ */
.contact-badge {
  display: inline-block;
  background-color: #32839c;
  color: #fff;
  border-radius: 4px;
}

/* 入力フォーム */
input {
  width: 100%;
  height: 40px;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  /* box-sizing: border-box; */
}

/* input:focus {
  outline: none;
  border-color: #333;
} */

/*************** footer ***************/
footer {
  height: 120px;
  background-color: #8ab3dc;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 10px;
}

/* テスト用スタイル */
.flex-samp-parent {
  background: red;
}

.flex-samp-child {
  background: blue;
}

/*************** メディアサイズ ***************/
@media (min-width: 769px) {
  /*************** 汎用部分 ***************/

  /*************** header ***************/
  /* headerコンテンツ切り替え */
  .float-h1-right {
    float: right;
  }

  .li-header {
    color: #fff;
    margin-right: 10px;
    text-align: center;
    line-height: 100px;
  }

  /*************** main ***************/
  /***** main画像切り替え *****/
  .main_img {
    background-image: url("./images/main.jpg");
    height: 40vh;
  }

  .flex-self-parent {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .flex-self-child {
    width: 48%;
  }

  /***** 実装サンプル(gallery) ここから *****/
  .flex-samp-parent {
    width: 80%; /* ★ 指示② */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex-samp-child {
    width: 25%; /* ★ 指示① */
  }

  .li-samp-item {
    width: 90%; /* ★ 指示① */
    margin: 0 auto;
  }
  /***** 実装サンプル(gallery) ここまで *****/

  /*************** footer ***************/
}
