/*************** footer ***************/
/***************  ***************/
/***************  ***************/
/***************  ***************/

/*************** 汎用部分 ***************/
html {
    letter-spacing: 0.05em;
}



/*************** header ***************/
header {
  background-color: #000000cc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.heading-taro {
  color: #a6acff;
}


.float-h1-left {
  float: left;
}

.float-h1-right {
  float: right;
}

.clear {
  clear: both;
}

.font-white {
  color: #fff;
}

.inner {
  display: flex;
}

.float-h1-item {
  color: #FFF;
  margin-right: 10px;
  text-align: center;
  line-height: 100px;
}

.ul-nodot {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*************** main ***************/

.main_img {
  height: 40vh;

  /* 背景画像を表示 */
  background-image: url("./images/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1024px;

}